// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');
 
$fa-font-path:  "webfonts/" !default;


/* @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid"; */
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
 
@import '~jquery-ui/themes/base/all.css';

// Variables
@import 'variables_basic';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '../css/theme-basic.css';

